@reference "../index.css";

.linksContainer {
  @apply flex items-start pb-3;
  overflow-y: visible !important;
}

.platformLinks {
  @apply flex flex-1 flex-col pr-0;
  border-right: 1px solid var(--extraPageBorderColor);
}

.socialLinks {
  @apply flex flex-col items-center justify-start px-2;
  min-width: fit-content;
}

.platformLink {
  @apply flex flex-col py-4 pr-0 pl-5;
}

.platformLinkTitle {
  color: var(--extraLinkColor);
  @apply flex items-center gap-4 text-sm;
}

.platformLink:hover {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platformLink:hover > .platformLinkTitle {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platformLinkIcon {
  @apply mr-2;

  svg {
    @apply h-5 w-5;
  }
}

.platformLinkDescription {
  @apply hidden lg:block;
}

.socialLinkIcon {
  @apply p-3 my-1;

  svg {
    @apply h-5 w-5;
  }

  color: var(--extraLinkColor);
}

.socialLinkIcon:hover {
  position: relative;

  color: var(--extraLinkBackgroundHoverColor);

  background:
    linear-gradient(
        to bottom,
        var(--extraLinkBackgroundHoverColor) 1.2px,
        transparent 1.2px,
        transparent calc(100% - 1.2px),
        var(--extraLinkBackgroundHoverColor) calc(100% - 1.2px)
      )
      no-repeat,
    linear-gradient(
        to left,
        var(--extraLinkBackgroundHoverColor) 1.2px,
        transparent 1.2px,
        transparent calc(100% - 1.2px),
        var(--extraLinkBackgroundHoverColor) calc(100% - 1.2px)
      )
      no-repeat;

  background-position: center;
  background-size:
    calc(100% - 0.75em) 100%,
    100% calc(100% - 0.75em);
}
