@reference "../index.css";

.language {
  @apply flex flex-1 justify-between py-3 pr-5 pl-5 md:pl-0 text-sm;
}

.nameLevel {
  @apply flex flex-1 items-center;
}

.levelBar {
  @apply relative ml-4 h-8 flex-1;
}

.levelBackground {
  @apply absolute h-full w-full;
}

.levelFill {
  @apply h-full;
  transition:
    width 0.3s ease-out,
    background-color 0.3s ease-out;
}

.matrixEffect {
  @apply flex h-full items-center justify-between overflow-hidden px-2 text-sm;
}

.levelText {
  @apply absolute top-1/2 right-0 -translate-y-1/2 pr-2 text-xs;
}

.languages {
  @apply flex flex-col pt-2 pb-5;
}

.languageEntry {
  @apply flex;
}

.languageEntry:hover {
  color: var(--languageEntryHoverColor);
  background-color: var(--languageEntryBackgroundHoverColor);
}

.languageEntry:active {
  color: var(--languageEntryHoverColor);
  background-color: var(--languageEntryBackgroundHoverColor);
}

.languageEntry .treeNode {
  @apply hidden md:block;
  stroke: var(--color);
}

.languageEntry:hover .treeNode {
  stroke: var(--languageEntryHoverColor);
}
