@import '../index.css';

.mapContainer {
  @apply h-[80vh] w-full rounded-lg border border-solid;
  border-color: var(--color);
  z-index: 1;
}

/* Add custom styling for Leaflet elements */
:global(.leaflet-popup-content-wrapper) {
  background-color: var(--bg);
  color: var(--color);
}

:global(.leaflet-popup-tip) {
  background-color: var(--bg);
}

:global(.leaflet-control-zoom a) {
  background-color: var(--bg) !important;
  color: var(--color) !important;
  border-color: var(--color) !important;
}
