.platform-links {
  @apply flex flex-col pt-2;
}

.social-links {
  @apply flex flex-wrap justify-around py-4;

  border-top: 1px solid var(--extraPageBorderColor);
}

.platform-link {
  @apply flex flex-col px-5 py-4;
}

.platform-link-title {
  color: var(--extraLinkColor);
  @apply flex items-center gap-4 text-base md:text-lg;
  /* @apply flex items-center sm:pb-2 text-base md:text-lg; */
}

.platform-link:hover {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platform-link:hover > .platform-link-title {
  color: var(--extraLinkHoverColor);
  background-color: var(--extraLinkBackgroundHoverColor);
}

.platform-link-icon {
  @apply mr-2 text-2xl;
}

.platform-link-custom-icon {
  @apply platform-link-icon;

  color: var(--extraLinkColor);
}

.social-link-icon {
  @apply p-4 text-3xl;

  color: var(--extraLinkColor);
}

.social-link-icon:hover {
  position: relative;

  color: var(--extraLinkBackgroundHoverColor);

  background:
    linear-gradient(
        to bottom,
        var(--extraLinkBackgroundHoverColor) 1.2px,
        transparent 1.2px,
        transparent calc(100% - 1.2px),
        var(--extraLinkBackgroundHoverColor) calc(100% - 1.2px)
      )
      no-repeat,
    linear-gradient(
        to left,
        var(--extraLinkBackgroundHoverColor) 1.2px,
        transparent 1.2px,
        transparent calc(100% - 1.2px),
        var(--extraLinkBackgroundHoverColor) calc(100% - 1.2px)
      )
      no-repeat;

  background-position: center;
  background-size:
    calc(100% - 0.75em) 100%,
    100% calc(100% - 0.75em);
}
